<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="im.vector.app.VectorApplication">

        <!-- Override SSO redirect activity for OMD scheme -->
        <activity
            android:name=".features.login.SSORedirectRouterActivity"
            android:exported="true"
            android:theme="@style/Theme.Vector.Black.Transparent"
            tools:replace="android:exported">

            <!-- Add intent filter to handle redirection URL after SSO login in external browser -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="connect"
                    android:scheme="omdmessenger" />
            </intent-filter>
        </activity>

        <!-- Override link handler activity for OMD domains -->
        <activity
            android:name=".features.link.LinkHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Vector.Black.Transparent"
            tools:replace="android:exported">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <!-- OMD-specific domains -->
                <data android:host="app.optimizemyday.ai" />
                <data android:host="develop.optimizemyday.ai" />
                <data android:host="staging.optimizemyday.ai" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="mobile.optimizemyday.ai" />
                <!-- accept only root path -->
                <data android:path="/" />
            </intent-filter>
        </activity>

        <!-- Activity alias for matrix.to or OMD messenger permalinks -->
        <activity-alias
            android:name=".features.permalink.PermalinkHandlerActivity"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:targetActivity=".features.link.LinkHandlerActivity"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="matrix.to" />
                <data
                    android:host="user"
                    android:scheme="omdmessenger" />
                <data
                    android:host="room"
                    android:scheme="omdmessenger" />

            </intent-filter>
        </activity-alias>

    </application>

</manifest>